@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    45 Wyllys Ave.<br />
    Middletown, CT 06459<br />
    <abbr title="Phone">P:</abbr>
    (510)-508-0238
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vmchu@wesleyan.edu">vmchu@wesleyan.edu</a><br />
</address>