@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MiA</h1>
    <p class="lead">MiA is a Movie Inventory Application designed to help you keep track of which movies you want to watch and which ones you have already watched.
     It also gives you suggestions based on Imdb's current, top-rated movies. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Click on the Movies tab or the button below.
        </p>
        <p><a class="btn btn-default" href="http://movieinventoryapp.azurewebsites.net/Movies">Learn more &raquo;</a></p>
    </div>
</div>